.contact-main{
    min-height: 100vh;
}
.contact-main-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   min-width: 75%;
   text-align: center;
   text-wrap: balance;
} 
.contact-main-text h1{
    text-align: center;
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}
[data-theme='dark'] .contact-main-text h1{
  background: var(--h1-dark-color); 
  background-clip: text;
  color: transparent;
}
.contact-main-text p{
    font-size: 16px;
    color: rgb(104, 103, 103);
    margin-top: 15px;
    margin-bottom: 31px;

}
[data-theme='dark'] .contact-main-text p{
  color: var(--ptag-color);
}
.contact-main-text a{
    color: rgb(104, 103, 103);
    border: 1px solid orange;
    padding: 10px 20px;
    position: relative;
    box-shadow: 5px 5px 10px black;

}
[data-theme='dark'] .contact-main-text a{
  color: var(--ptag-color);
}
.contact-main-text a:before{
    content:'';
    background: orange;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scalex(0);
    z-index: -1;
    transition: .4s ease-in-out;

}
.contact-main-text a:hover::before{
    transform: scaleX(1);
}
.contact__section{
    padding-inline: 20px;

}
.contact__section .container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.contact__form {
    width: 100%;
    max-width: 500px;
}
.contact__form h1{
    text-align: center;
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}
[data-theme='dark'] .contact__form h1{
  background: var(--h1-dark-color); 
  background-clip: text;
  color: transparent;
}

.contact__form .form-control{
    width: 100%;
    max-width: 100%;
}

/* Flex display for the first form-control */
.contact__form .form-control {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact__form .form-control input{
    width: 100%;
    padding: .8rem .4rem;
    border-radius: 10px;
    border: none;
    outline: none;
}
.contact__form .form-control input:focus {
  outline: none;
  box-shadow: 0 0 10px royalblue; 
}

.contact__form .form-control textarea{
    width: 100%;
    padding: .8rem .4rem;
    border-radius: 10px;
    border: none;
}
.contact__form .form-control textarea:focus{
    outline: none;
    box-shadow: 0 0 10px royalblue;
}

.contact__section .container .contact__form .btn{
    background-color: royalblue;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    transition: .3s ease-in-out;
    font-family: 'Titan One', sans-serif;
}
.contact__section .container .contact__form .btn:hover{
    transform: scale(1.05);
}
.contact__section .container .social__links{
    display: grid;
    gap: 1rem;
    text-align: center;
}
.contact__section .container .social__links h4{
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;
}
[data-theme='dark'] .contact__section .container .social__links h4{
  background: var(--h1-dark-color); 
  background-clip: text;
  color: transparent;
}
.contact__section .container .social__links h6{
    color: orange;
}

.contact__section .container .social__links .card__link{
    width: 400px;
    max-width: 250px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 50px;
    text-align: center;
    display: grid;
    align-items: center;
    transition: .3s;

}

.card__link:hover {
  color: red; 
}


.contact__section .container .social__links .card__link a{
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: .5s ease-in-out;
    

}
[data-theme='dark'] .contact__section .container .social__links .card__link a {
    color: #B980F0; 
}


@media (max-width:768px){
    .contact__section .container .social__links{
    order: 2;
}
}
