/* ******************NAVBAR************************ */

nav{
    display: flex;
    align-items: center;
    height: 70px;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.brand a{
    font-size: 2rem;
    margin-left: 2rem;
}

nav .links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 3rem;

}

nav .links a{
    font-size: 18px;
    color: #000;

}
nav .links .active{
   background: orange;
   padding: 10px 20px;
   border-radius: 10px;
    
}

/* ******************HERO************************ */
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.hero .container{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-inline: 10px;
    text-align: center;
}
.hero .container h1{
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;
}
.hero .container h5{
    background-color: rgb(189, 154, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 300px;
    margin: auto;
    border-radius: 30px;
    margin-block: 10px;
}
.hero .container h5  span{
    color: red;
    font-size: 20px;
    
}
.hero .container h3{
    color: orange;
    margin-block: 10px;
}
.hero .container p{
    line-height: 1.4;
    text-wrap: balance;
    color: rgb(104, 103, 103);
}
.hero__buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.hero__buttons button:first-child{
    background: orange;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in;
}
.hero__buttons button:first-child:hover{
    transform: scale(1.1);
}
.hero__buttons button:nth-child(2){
    border: 2px solid orange;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s ease-in;
    border-radius: 10px;

}
.hero__buttons button:nth-child(2):hover{
    transform: scale(1.1);

}
.hero__social-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 70px;
    top: 180px;
}
.hero__social-links svg{
    cursor: pointer;
    font-size: 2rem;
    transition: .3s ease-in-out;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.3));

}
.hero__social-links svg:first-child:hover{
    color: green;
}
.hero__social-links svg:nth-child(2):hover{
    color: royalblue;
}
.hero__social-links svg:last-child:hover{
    color: brown;
}

.tech__stack{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}
.tech__stack svg{
    font-size: 30px;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.3));

}

.tech__stack svg:nth-child(2) {
  color: #E34F26; 
}

.tech__stack svg:nth-child(3) {
  color: #2965f1; 
}

.tech__stack svg:nth-child(4) {
  color: #f0db4f; 
}

.tech__stack svg:nth-child(5) {
  color: #563d7c; 
}

.tech__stack svg:nth-child(6) {
  color: #38b2ac;
}


.tech__stack svg:nth-child(7) {
  color: #61dbfb; 
}


@media (max-width:768px){
    .hero__social-links{
    flex-direction: row;
    position: relative;
    justify-content: center;
    top: 0;
    left: 10px;
    margin-top: 1rem;
}
}

/* ******************ABOUT************************ */
.about__section .container{
    display:grid;
    grid-template-columns: 350px 450px;
    justify-content: center;
    align-items: center;
}

.about__section .container .about__img img{
    width: 300px;
    border-radius: 20px;
}

.about__section .container .about__data h2{
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}
.about__section .container .about__data h3{
    color: orange;
    margin-bottom: 10px;
}
.about__section .container .about__data p{
    text-wrap: balance;
    color: rgb(104, 103, 103);

}

@media (max-width:820px){
    .about__section .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    
    }
.about__section .container .about__img{
  order: 2;
  margin-top: 20px;
}
.about__section .container .about__data {
    text-align: center;
   
}

}


/* *******************TESTIMONIALS*********************** */
.testimonial__section {
    margin-top: 12rem;
    padding-inline: 20px;
}

.testimonial__section .container {
    max-width: 1200px;
    border-radius: 30px;
}
.testimonial__section .container h1{
    text-align: center;
    background: linear-gradient(blue, purple);
    background-clip: text;
    color: transparent;

}


.testimonial__section .card {
    max-width: 100%;
    margin: 0 auto; 
    height: 300px;
    background-color: #addfdf;
    padding-inline: 20px;
    border-radius: 10px;
    text-align: center; 
    cursor: grab;
}

.testimonial__section .card img {
    width: 100px; 
    margin: 10px auto;
    max-width: 150px; 
    height: 100px; 
    border-radius: 60%;
}

.testimonial__section .card p {
    font-size: 14px; 
    margin-top: 20px;
    margin-top: 20px;
}
.testimonial__section .card .name{
    font-size: 30px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .testimonial__section .card p .text {
        width: 200px;
        margin-inline: auto;
    }

    .testimonial__section .card {
        max-width: 90%; 
    }

    .testimonial__section .card img {
        width: 90px; 
    }

    .testimonial__section .card p {
        font-size: 12px; 
    }
}

/* *********************FOOTER********************* */
.footer__section{
    margin-top: 4rem;
    text-align: center;
    background: rgb(7, 7, 7);
    color: #fff;
    padding: 10px 0;
}

.footer__section .container span{
    color: red;
    font-size: 20px;
}
