/* src\index.css

  /* OSWALD */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;500;600;700&family=Titan+One&display=swap');

:root{
     --h1-dark-color: linear-gradient(120deg, #fff, blue);
}

[data-theme='light'] {
  --body_background: #eee;
  --navatag-color: #000;
  --ptag-color: rgb(104, 103, 103);
  --border-color:#000;
}

[data-theme='dark'] {
  --body_background: #282c34;
  --navatag-color: #fff;
  --ptag-color: rgb(212, 208, 208);
  --border-color:rgb(212, 208, 208);
  --color:#fff;
}
*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    transition:  .5s background;
}

a{
    text-decoration: none;
    
}
h1{
    font-size: 2rem;
    font-family: 'Titan One', sans-serif;
}

h2{
    font-size: 1.5rem;
    font-family: 'Titan One', sans-serif;

}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    background: var(--body_background);
}

/* width */
::-webkit-scrollbar{
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b3939;
    border-radius: 10px;
  }
 